@using Microsoft.AspNetCore.Identity 

@inject SignInManager<FitnessUser> SgInManager
@inject UserManager<FitnessUser> UserManager;

@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/shared/_LayoutLanding.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
           
               
            <h1 class="heroTitle">
                all your preferred <span class="texthighlight">Workouts</span> into a single hub!
            </h1>
            @if (User.IsInRole("Admin"))
            {
                <h1 class="texthighlight">(Administrator)</h1>
            }
            @if (User.IsInRole("client"))
            {
                <h1 class="texthighlight">(client)</h1>
            }
            @if (User.IsInRole("trainer"))
            {
                <h1 class="texthighlight">(Trainer)</h1>
            }
            <div class="subtitle">
                Access top-notch training sessions led by fitness pros. Experience the power of our offered classes
                demo it today!<br><br><strong>Built with pride using cutting edge tech:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                
            </div>
            
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/classes-details.png" class="img-fluid">
    </div>
</div>